html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color:white;
}

ul {
    list-style: none;
  }

/*ここから新しく*/
.contaier{
  width:1170px;
  /*以下２つはコピペなので、変更可能性あり（よくわかってない）*/
  padding: 0 15px;
  margin: 0 auto;
}

header{
  height:65px;
  width:100%;
  position:fixed;
  top:0;
  z-index:10;
  background-color:rgba(153, 68, 68,0.9);
}

.header-left{
  float:left;
  padding:20px;
  width:400px
}

.header-right{
  float:left;
  padding:20px 20px 20px 200px;
}

.header-right a{
  float:left;
  margin-right:80px;
}

.header-right a:hover{
  border-bottom:2px solid #ffffff;
}

.header-right a:active{
  opacity: 0.7;
}

.login{
  line-height: 25px;
  background-color: rgba(128, 128, 128,0.7);
  transition:all 0.3s;
  padding: 20px;
  float:right;
  margin-right:20px;
  cursor: pointer;
  color:rgba(255, 255, 255,0.6);
  display:block;
}

.login:hover{
  background-color: rgba(128, 128, 128,1);
  color:rgba(255, 255, 255,1);
}

/*モーダル*/
.signup-modal-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
  }
  
  .modal {
    position: absolute;
    top: 20%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    text-align: center;
  }
  
  .fa-times {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
  }
  
  .submit-btn {
    display: inline-block;
    padding: 14px 140px;
    background-color: #5dca88;
    border: none;
    border-radius: 3px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
  }

  .submit-btn:hover{
    background-color: rgba(93, 202, 136,0.7);
  }

  .login-modal-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
  }
  
  #login-form {
    width: 100%;
  }
  
  #login-form h2 {
    color: #5f5d60;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  
  #login-form input {
    width: 320px;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 12px 12px;
    border: 1px solid #d0d5d8;
    border-radius: 5px;
  }

.top-wrapper{
  background-image: url(https://souken.movabletype.io/higher/.assets/2019_RCM214_22_TOP-b255443d6.png);
  background-size: cover;
  padding: 180px 0 100px 0;
  height:580px;
  text-align:center;
  color:rgb(6, 6, 6);
}

.a1{
background-color:rgba(219, 230, 226, 0.6);
display:block;
padding:30px 0 90px 0;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
}

.btn-wrapper {
  margin:100px 0 20px 0;
  border:3px solid #98f867;
  display:inline-block;
  font-size: 15px;
  width:500px;
  height:130px;
  border-radius:90px;
  background-color: #eee;
}

.btn-wrapper p {
  margin: 10px 0;
  font-size: 30px;
  padding-right: 20px;
}

.instagram {
  margin-right: 10px;
}
.instagram:hover{
  color:#c6529a;
}
.instagram img{
  width:30px;
  padding-right: 5px;
  vertical-align: middle;/*vertical-align: middle;は習っていない*/
}
.instagram span{
  padding-bottom: 5px;
  vertical-align: middle;
}

.twitter:hover{
  color:#14a5ce;
}

.twitter img{
  width:30px;
  vertical-align: middle;
  margin-right:10px;
  border-radius: 5px;
}
.twitter span{
  padding-bottom: 5px;
  vertical-align: middle;
}

.btn {
  padding: 8px 24px;
  color: black;
  font-weight: bolder;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}
.lesson-wrapper {
  height: 350px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson img{
  width:50%;
  height:200px;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  color: #b3aeb5;
  display:none;
}

.txt-active{
    display:inline-block;
}

.faq-wrapper {
    background-color: #e6ecf0;
    text-align: center;
    padding-bottom: 80px;
    color: #5f5d60;
  }
  
  #faq-list {
    width: 800px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  
  .faq-list-item {
    margin:30px;
    border-bottom:1px solid #ccc;
    position:relative;
    cursor:pointer;
    text-align: left;
  }
  
  .faq-list-item h3 {
    font-size: 20px;
  }
  
  .faq-list-item span {
    position:absolute;
    top:-10px;
    right:5px;
    color:black;
    font-size:24px;
  }
  
  .answer {
    font-size: 18px;
    padding: 5px 0px;
    margin-bottom: 15px;
    display: none;
  }
  

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  padding: 50px 0 180px 0;
  text-align: center;
  border-top:1px solid #eee;
}

.message {
  padding: 15px 40px;
  background-color: #ca5d5d;
  box-shadow: 0 7px #a14b4b;
  color:white;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}


  
  .slide-wrapper {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    color: #5e6f84;
    padding:60px 0 130px 0;
    display:block;
  }
  
  .slide-title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  
  .change-btn-wrapper {
    width: 500px;
    margin: 20px auto;
    font-size: 18px;
  }
  
  .change-btn-wrapper:after {
    content: "";
    clear: both;
    display: block;
  }
  
  .prev-btn {
    cursor: pointer;
    float: left;
    display: none;
  }
  
  .next-btn {
    cursor: pointer;
    float: right;
  }
  
  .slides {
    padding: 0;
  }
  
  .slide {
    display: none;
  }
  
  .active {
    display: block;
  }
  
  .slide img {
    width: 500px;
    height: 400px;
    border-radius: 5px;
    border:5px solid #d5d0be;
  }
  
  .index-btn-wrapper {
    font-size: 16px;
    margin-top: 20px;
  }
  
  .index-btn {
    display: inline-block;
    color: #4e90af;
    background-color: #e0f5ff;
    width: 40px;
    padding: 6px 0;
    margin: 0 5px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .index-btn:hover {
    color: #fff;
    background-color: #5cabd0;
  }



.contact-form {
  padding-top: 70px;
  border-top: 2px solid rgb(222, 231, 236);
  border-bottom: 2px solid #c82828;
  text-align: center;
  background-color: #d4dbdf;
}

.section-title{
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    display:inline-block;
    width:600px;
}

input,textarea {
      width: 400px;
      margin-top: 10px;
      margin-bottom: 30px;
      padding: 20px;
      font-size: 18px;
      border: 1px solid #dee7ec;
  }

  .contact-submit{
      background-color: #dee7ec;
      color:#889eab;
      width:450px;
  }

  .contact-submit:hover{
    background-color: #5dca88;
    color:#070707;
  }

  .contact-submit:active{
    opacity: 0.8;
  }

footer h1 {
  width: 300px;
  font-size: 20px;
  padding-top:5px;
  color:#eee;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  background-color:rgb(153, 68, 68);
  height:80px;
}
